<div class="card shadow rounded my-2">
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= subtitle %></h6>
    <p class="card-text text-secondary"><%= content %></p>
    <p class="card-text text-secondary"><%= secondaryContent %></p>
  </div>
</div>
