<form action="/prove02/add-book" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" class="form-control" id="author" name="author" />
  </div>
  <div class="mb-3">
    <label for="summary" class="form-label">Summary</label>
    <input type="text" class="form-control" id="summary" name="summary" />
  </div>
  <div class="mb-3">
    <label for="isbn" class="form-label">ISBN</label>
    <input type="text" class="form-control" id="isbn" name="isbn" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
