<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %>
  </head>

  <body>
    <div>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
        <p>
          This here is my website for all projects related to CSE 341
        </p>
        <a
          type="button"
          class="btn btn-lg btn-default btn-secondary"
          href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"
          ><span class="glyphicon glyphicon-flash"></span> Getting Started on
          Heroku with Node.js</a
        >
        <a
          type="button"
          class="btn btn-lg btn-heroku"
          href="https://github.com/heroku/node-js-getting-started"
          ><span class="glyphicon glyphicon-download"></span> Source on
          GitHub</a
        >
      </div>
    </div>
  </body>
</html>
