<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Team Activity 04</p>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
